<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
    <sessionState mode="InProc" timeout="2000"></sessionState>
  </system.web>
  <connectionStrings>
    <add name="connected" connectionString="Data Source=www.sprintsolutions.com.pk;Initial Catalog=Sprintfinance;User ID=sp;Password=c@pr!c0rnspr!nt365;persist security info=False;" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: {41d56173-8ee2-4f93-a3cb-c020f49f9c47}-->